<h1 class="page-header"><i class="fa fa-line-chart"></i>Capacity</h1>

  <div class="row">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="control_id_useVelocity">Take velocity into account</label>
      <div class="col-sm-10 label-group-content">
      <p>
        <input id="control_id_useVelocity" type="checkbox" ng-model="useVelocity" ng-change="loadChart();" />
      </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="control_id_episode">Episode</label>
      <div class="col-sm-10 label-group-content">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{_selectedEpisode.name ? _selectedEpisode.name + '(' + _selectedEpisode.start + ' - ' + _selectedEpisode.end + ')' : 'None'}} <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href ng-click="selectedEpisode('')">None</a></li>
            <li role="separator" class="divider"></li>
            <li ng-repeat="episode in episodes | orderBy: 'start':true"><a href ng-click="selectedEpisode(episode.id)">{{episode.name}} ({{episode.start}} - {{episode.end}})</a></li>
          </ul>
        </div>
      </div>
    </div>
    <label-group label="Start date" ng-show="_selectedEpisode.id == ''">
      <p class="input-group">
        <input type="text" class="form-control" ng-model="duration.start" uib-datepicker-popup="yyyy-MM-dd" is-open="datepicker.startOpened" ng-change="loadChart()"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="datepicker.startOpened = true;"><i class="fa fa-calendar"></i></button>
        </span>
      </p>
    </label-group>
    <label-group label="End date" ng-show="_selectedEpisode.id == ''">
      <p class="input-group">
        <input type="text" class="form-control" ng-model="duration.end" uib-datepicker-popup="yyyy-MM-dd" is-open="datepicker.endOpened" ng-change="loadChart()"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="datepicker.endOpened = true;"><i class="fa fa-calendar"></i></button>
        </span>
      </p>
    </label-group>
    <label-group label="Abilities">
      <div ng-repeat="(id, list) in andFilters" style="width: 230px; float: left; margin-right: 8px;">
        <div class="panel panel-default" style="width: 200px; float: left; margin-right: 8px;">
          <tags-input ng-model="list" display-property="name" placeholder="..." replace-spaces-with-dashes="false" class="bootstrap" on-tag-added="loadChart();" on-tag-removed="loadChart();">
            <auto-complete source="loadAbilities($query)" min-length="2" max-results-to-show="32"></auto-complete>
          </tags-input>
          <div class="panel-footer">
            AND <button ng-click="removeAndFilter(id)" class="btn btn-default"><i class="fa fa-minus-circle"></i></button>
          </div>
        </div>
        <div ng-hide="id == lastIndex">
          OR
        </div>
      </div>
      <div style="clear: both;"></div>
      <button ng-click="addAndFilter()" class="btn btn-default"><i class="fa fa-plus-circle"></i> Add AND block</button>
    </label-group>
  </div>

  <ul class="nav nav-pills">
    <li ng-class="{active:selected == 'chart'}"><a href ng-click="select('chart')">Chart</a></li>
    <li ng-class="{active:selected == 'list'}"><a href ng-click="select('list')">List</a></li>
  </ul>

<div class="panel panel-default" ng-show="selected == 'chart'" style="padding: 30px;">
  <highchart config="chartConfig"></highchart>
</div>

<div class="panel panel-default" ng-show="selected == 'list'">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Employee</th>
        <th ng-repeat="category in chartConfig.xAxis.categories"><span style="color:{{category.color}};">{{category.y}}</span></th>
        <th>Sum</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in chartConfig.series">
        <th ng-bind="row.name"></th>
        <td ng-repeat="field in row.data track by $index">{{field | number: 1}}h</th>
        <th>{{sum(row.data) | number: 1}}h</th>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Sum</th>
        <td ng-repeat="category in chartConfig.xAxis.categories">{{rowsum($index) | number: 1}}h</th>
        <th>{{sumsum() | number: 1}}h</th>
      </tr>
    </tfoot>
  </table>
</div>
