<h1 class="page-header"><i class="fa fa-line-chart"></i>Capacity</h1>

  <div class="row">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="control_id_useVelocity">Take velocity into account</label>
      <div class="col-sm-10 label-group-content">
      <p>
        <input id="control_id_useVelocity" type="checkbox" ng-model="useVelocity" ng-change="loadChart();" />
      </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="control_id_episode">Episode</label>
      <div class="col-sm-10 label-group-content">
      <p>
        <select ng-model="selectedEpisode" ng-model-options="{ getterSetter: true }">
          <option value="">None</option>
          <option ng-repeat="episode in episodes" value="{{episode.id}}">{{episode.name}} ({{episode.start}} - {{episode.end}})</option>
        </select>
      </p>
      </div>
    </div>
  </div>

<div class="row">
  <highchart config="chartConfig"></highchart>
</div>

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Employee</th>
        <th ng-repeat="category in chartConfig.xAxis.categories">{{category}}</th>
        <th>Sum</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in chartConfig.series">
        <th ng-bind="row.name"></th>
        <td ng-repeat="field in row.data track by $index">{{field | number: 1}}h</th>
        <th>{{sum(row.data) | number: 1}}h</th>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Sum</th>
        <td ng-repeat="category in chartConfig.xAxis.categories">{{rowsum($index) | number: 1}}h</th>
        <th>{{sumsum() | number: 1}}h</th>
      </tr>
    </tfoot>
  </table>
</div>

<div class="row">
<div class="col-sm-6">
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Abilities</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ability in abilities | filter: search | orderBy: 'name'">
      <td><input type="checkbox" ng-model="ability.selected" ng-change="loadChart();"/></td>
      <td ng-bind="ability.name"></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-sm-6">
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Employee</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="employee in employees | filter: onlyForSelectedAbilities | filter: onlyForSelectedEpisodes | orderBy: 'name'">
      <td><input type="checkbox" ng-model="employee.selected" ng-change="loadChart();"/></td>
      <td ng-bind="employee.name"></td>
    </tr>
  </tbody>
</table>
</div>
</div>
