<h1 class="page-header"><i class="fa fa-caret-square-o-right"></i>{{!episode.name ? '&nbsp;' : episode.name}}</h1>

<form class="form-horizontal">
	<label-group label="ID">
		<p>
			<input type="text" class="form-control" ng-model="episode.id" disabled />
		</p>
	</label-group>
	<label-group label="Name">
		<p>
			<input type="text" class="form-control" ng-model="episode.name" />
		</p>
	</label-group>
	<label-group label="Start date">
		<p class="input-group">
			<input type="text" class="form-control" ng-model="episode.start" uib-datepicker-popup="yyyy-MM-dd" is-open="datepicker.startOpened" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="datepicker.startOpened = true;"><i class="fa fa-calendar"></i></button>
			</span>
		</p>
	</label-group>
	<label-group label="End date">
		<p class="input-group">
			<input type="text" class="form-control" ng-model="episode.end" uib-datepicker-popup="yyyy-MM-dd" is-open="datepicker.endOpened" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="datepicker.endOpened = true;"><i class="fa fa-calendar"></i></button>
			</span>
		</p>
	</label-group>
	<label-group label="Employees">
		<table class="table table-striped">
			<tr ng-repeat="employee in employees | orderBy: 'name'" ng-class="{selected: isSelected(employee.id)}">
				<td class="col-sm-6" ng-bind="employee.name" ng-click="toggleSelection(employee)"></td>
				<td class="col-sm-1"><span ng-hide="isSelected(employee.id)">{{employee.velocity}}%</span><span ng-hide="!isSelected(employee.id)">{{selection[employee.id].velocity}}%</span></td>
				<td class="col-sm-2"><slider ng-hide="!isSelected(employee.id)" ng-model="selection[employee.id].velocity" min="0" step="1" max="100"></slider></td>
			</tr>
		</table>
	</label-group>
	<button type="submit" ng-click="save()" class="btn btn-default"><i class="fa fa-floppy-o"></i> Save</button>
</form>