<h1 class="page-header">Episodes</h1>

<h2 class="sub-header">Listing ({{episodes.length}})</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><span ng-click="order('id')">ID</span>
         <span class="sortorder" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span></th>
      <th><span ng-click="order('name')">Name</span>
         <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="episode in episodes | filter: search | orderBy:predicate:reverse">
      <td>{{episode.id}}</td>
      <td><a href="#episodes/{{episode.id}}" ng-bind="episode.name"></a></td>
    </tr>
  </tbody>
</table>
<button ng-click="add()" class="btn btn-default"><i class="fa fa-plus-circle"></i> Add</button>