<h1 class="page-header"><i class="fa fa-pie-chart"></i>Absences</h1>

<form class="form-horizontal">
<div class="row">
  <!-- This should be a <label-group>, but I failed at understanding https://github.com/angular/angular.js/wiki/Understanding-Scopes -->
  <div class="form-group">
    <label class="col-sm-2 control-label" for="selectedDate">Date</label>
    <div class="col-sm-10 label-group-content" id="selectedDate">
      <p class="input-group">
        <input type="text" class="form-control" ng-model="vm.selectedDate" ng-change="vm.loadAbsencesAndAvailabilities()" uib-datepicker-popup="yyyy-MM-dd" is-open="datepicker.opened"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="vm.datepicker.opened = true;"><i class="fa fa-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>
</div>
</form>

<div class="row">
  <div class="col-sm-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Absent</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in vm.absent | filter: search | orderBy: 'name'">
          <td><employee-name employee="employee" /></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Available</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in vm.available | filter: search | orderBy: 'name'">
          <td><employee-name employee="employee" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>