<h1 class="page-header">{{!employee.name ? '&nbsp;' : employee.name}}</h1>

<form name="form">
	<div class="row">
	<h2 class="sub-header">Personal data</h2>
	<label-group label="ID">
		<p>
			<input type="text" class="form-control" ng-model="employee.id" disabled></input>
		</p>
	</label-group>
	<label-group label="Name">
		<p>
			<input type="text" class="form-control" ng-model="employee.name"></input>
		</p>
	</label-group>
	<label-group label="E-Mail">
		<p>
			<input type="text" class="form-control" ng-model="employee.email"></input>
		</p>
	</label-group>
	<label-group label="Abilities">
		<p>
			<tags-input ng-model="employee.abilities" display-property="name" placeholder="..." replace-spaces-with-dashes="false" class="bootstrap">
				<auto-complete source="loadAbilities($query)" min-length="2" max-results-to-show="32"></auto-complete>
			</tags-input>
		</p>
	</label-group>
	<label-group label="Color">
		<p class="input-group">
			<input colorpicker type="text" class="form-control" ng-model="employee.color" ng-required="true"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default"><i style="background-color: {{employee.color}}; display: inline-block; vertical-align: middle; width: 13px; height: 13px;"></i></button>
			</span>
		</p>
	</label-group>
	<h2 class="sub-header">Contract</h2>
	<label-group label="Start date">
		<p class="input-group">
			<input type="text" class="form-control" ng-model="employee.contract.start" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
			</span>
		</p>
	</label-group>
	<label-group label="End date">
		<p class="input-group">
			<input type="text" class="form-control" ng-model="employee.contract.end" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
			</span>
		</p>
	</label-group>
	<h2 class="sub-header">Working Hours</h2>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10"><div ui-calendar="calendarConfig" ng-model="eventSources"></div></div>
	</div>
	<label-group label="Velocity {{employee.velocity}}%">
		<p>
			<slider ng-model="employee.velocity" min="0" step="1" max="100"></slider>
		</p>
	</label-group>
	<button type="submit" ng-click="save()" class="btn btn-default"><i class="fa fa-floppy-o"></i> Save</button>
	</div>
</form>