<h1 class="page-header">Employees</h1>  

<h2 class="sub-header">Listing ({{employees.length}})</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><span ng-click="order('id')">ID</span>
         <span class="sortorder" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span></th>
      <th><span ng-click="order('name')">Name</span>
         <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span></th>
      <th>E-Mail</th>
      <th>Abilities</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="employee in employees | filter: search | orderBy:predicate:reverse">
      <td>{{employee.id}}</td>
      <td><a href="#employees/{{employee.id}}" ng-bind="employee.name"></a></td>
      <td>{{employee.email}}</td>
      <td><ul class="abilities"><li ng-repeat="ability in employee.abilities | orderBy: 'name'" ng-click="searchFilter(ability.name)" style="cursor: pointer;">{{ability.name}}</li></ul></td>
    </tr>
  </tbody>
</table>
<button ng-click="add()"><i class="fa fa-plus-circle"></i> Add</button>